$dark-color : #340544;
$line-bread : 0.08px;


.canvas {
  position: relative;
  width: min(81vh, 81vw);
  aspect-ratio: 1 / 1;
  background-color: #eee;
  margin: 0 2rem;
  box-sizing: content-box;
  // border: 20px solid #eee;
  // overflow: hidden;
}
.verticalLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: $line-bread;
  background-color: $dark-color;
}

.horizontalLine {
  position: absolute;
  left: 0;
  height: $line-bread;
  width: 100%;
  background-color: $dark-color;
}
