$dark-color : #340544;
$line-bread : 0.08px;

.canvas {
  position: relative;
  width: min(80vh, 80vw);
  aspect-ratio: 1 / 1;
  background-color: #eee;
  border-bottom: $line-bread solid $dark-color;
  border-right: $line-bread solid $dark-color;
  border: 10px solid $dark-color;
  overflow: hidden;
}
.verticalLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: $line-bread;
  background-color: $dark-color;
}

.horizontalLine {
  position: absolute;
  left: 0;
  height: $line-bread;
  width: 100%;
  background-color: $dark-color;
}
