#Project{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 3rem;

    .title{
        h3{
            font-size: 2.5rem;
            margin-bottom: 7rem;
            font-weight: bold;
        }
    }

    .project-center{
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: stretch;

        .canvas-container {
                position: relative;
                width: fit-content;
                background-color: #eee;
                padding: 1.5rem 0;
            }

        .control-panel{
            position: relative;
            background-color: $primary;
            height: 100%;
            color: white;
            padding: 2rem;
            width: 20%;

            &-center{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                color: white;
                .item-form{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 100%;
                    .item{
                        position: relative;
                        display: flex;
                        width: 100%;
                    }

                    .item-double{
                        display: flex;
                        flex-direction: column;

                        .items{
                            display: grid;
                            grid-template-columns: 50% 50%;
                        }
                        
                        label{
                            font-size: 1rem;
                            margin: 0;
                            padding: 0;
                        }
                        input{
                            padding: 0.3rem;
                            margin-bottom: 0.75rem;
                        }

                        input[type=color]{
                           height: 100%;
                        }
                    
                    }
                    button{
                            padding: 0.5rem 1rem;
                            background-color: $success;
                            border: none;
                            color: white;
                            transform-origin: 0 50%;
                            &:hover{
                                transform: scale(0.95);
                            }
                            &:active{
                                transform: scale(0.9);
                                box-shadow: 0 0 10px 1px #0005;
                            }
                        }
                    input{
                            padding-left: 0.5rem;
                        }
                }
            }
        }
    }

    .truck-center{
        width: 100%;
        position: relative;
        margin-top: 1rem;
        min-height: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h4{
            font-size: 1.5rem;
        }
        .truck-item{
            width: 100%;
            padding: 0.2rem;
            background-color: #eee;
            color: black;
            border-radius: 15px;
            h5{
                font-weight: bold;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
            .truck-info{
                margin-top: 0.5rem;
                display: flex;
                width: 100%;
                justify-content: space-between;

                p{
                    font-size: 1rem;
                }

                button{
                    background-color: transparent;
                    border: none;
                    // color: white;
                    font-size: 1.2rem;
                }
            }
        }
    }
}